USE [ERP_WEB]
GO
/****** Object:  Table [dbo].[Artikelstamm_Klassifizierung]    Script Date: 02/04/2020 17:01:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artikelstamm_Klassifizierung](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Klassifizierung] [nvarchar](50) NULL,
	[Bezeichnung] [nvarchar](250) NULL,
	[Nummernkreis] [nvarchar](50) NULL,
	[Kupferzahl] [nvarchar](50) NULL,
	[Gewerk] [nvarchar](50) NULL,
 CONSTRAINT [PK_Artikelstamm_Klassifizierung] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Artikelstamm_Klassifizierung] ON 

INSERT [dbo].[Artikelstamm_Klassifizierung] ([ID], [Klassifizierung], [Bezeichnung], [Nummernkreis], [Kupferzahl], [Gewerk]) VALUES (1, N'Litze 0-40', N'Litze 0 - 4,0mm²', N'23x und 24x', N'0-45', N'Gewerk 2')
INSERT [dbo].[Artikelstamm_Klassifizierung] ([ID], [Klassifizierung], [Bezeichnung], [Nummernkreis], [Kupferzahl], [Gewerk]) VALUES (2, N'Litze 41-60', N'Litze 4,1 - 6,0mm²', N'23x und 24x', N'46-65', N'Gewerk 2')
INSERT [dbo].[Artikelstamm_Klassifizierung] ([ID], [Klassifizierung], [Bezeichnung], [Nummernkreis], [Kupferzahl], [Gewerk]) VALUES (3, N'Litze 61', N'Litze > 6,0mm²', N'23x und 24x', N'>=66', N'Gewerk 1')
SET IDENTITY_INSERT [dbo].[Artikelstamm_Klassifizierung] OFF
