# Automate review assignments for Axinnovate Projects

#  SECTION FRONTEND
# Toute modification sur les fichiers Angular (.ts, .html, .scss) 
# requiert la validation de votre collègue expert Frontend.
*.ts @Axis-Hsan
*.html @Axis-Hsan
*.scss @Axis-Hsan

#  SECTION BACKEND
# Toute modification sur les fichiers .NET (.cs) 
# requiert la validation de votre collègue expert Backend.
*.cs @Axis-Hsan
appsettings.json @Axis-Hsan

#  SECTION DOCUMENTATION
# Vous (Hsan) restez le propriétaire de la documentation globale
# pour assurer que les standards README/RELEASE sont respectés.
README.md @hsan_aouiti
RELEASE.md @hsan_aouiti
/docs/ @hsan_aouiti
