@model Psz.Core.CRP.Reporting.Models.DocFooterModel
<html>
<head>
    <meta charset="UTF-8">
<style>
     table td, table td * {
         vertical-align: top;
         text-align: left;
     }

         table td.right, table td.right * {
             text-align: left;
         }

     .hr {
         height: 1px;
         border-width: 0;
         color: black;
         background-color: black;
         width: 100%;
     }

     .footer-container {
         margin-left: 65px;
         margin-top: 30px;
         font-size: 8px;
         width: 85%;
         font-family: Helvetica, sans-serif;
     }
</style>
</head>
<body style="font-size:14px;">
    <div class="footer-container" @if (Model != null) {<text>tyle="background-color:@Model.BackgroundColor !important"</text>}>
    </div>
  <pre></pre>
</body>
</html>