@model Psz.Core.Reporting.Models.DelforRepotFooterModel
<style>
    table tr th
    {
       text-align: center;
       font-size: 10px;
       font-family: Helvetica, sans-serif;
       font-weight: normal;
    }
    .line {
        border-top: 1px solid black !important;
        padding-top: 5px !important;
        width: 85% !important;
    }
        .hr {
        height: 0.5px;
        border-width: 0;
        color: black;
        background-color: black;
        width: 87%;
    }
</style>
<div style="width:100%;padding-top:100px">
    <hr class="hr">
    <table style="width:100%;">
    <tr>
        <th>@Model.FooterLine1</th>
    </tr>
    <tr>
        <th>@Model.FooterLine2</th>
    </tr>
    <tr>
        <th>@Model.FooterLine3</th>
    </tr>
</table>
</div>